
// global css
@import "shared/variables";
@import "shared/mixings";
@import "shared/fonts";

// components
@import "components/header";
@import "components/footer";
@import "components/main";


// pages
@import "pages/bloq";
@import "pages/product";
@import "pages/category";
@import "pages/about";
@import "pages/deliver";
@import "pages/contact";
@import "pages/giveback";

body{
    background-color: #f2f7fa;

}

html {
    scroll-behavior: smooth;
}

:root {
    --header-height: 70px;
    @media (max-width: 991px) 
    {
        --header-height: 60px;
    }
}







