

//color
$main-color:#4C9935;
$info-color:#17a2b8;
$btn-color:#6c757d;
$spaical-color:#db0063;
$footer-color:#00cc97;
$black-textcolor:#212529;

//Fonts
$primary-font:'Roboto', sans-serif;

//Fonts Sizes
$title-font-size:36px;
$subtitle-font-size: 16px;



